.bh:hover,
.dr:hover,
.fb:hover,
.ins:hover,
.tw:hover {
	transition: all ease 0.4s;
}
body,
p {
	font-family: Poppins, sans-serif;
}
h1,
h2 {
	letter-spacing: -3px;
}
h3,
h6 {
	font-weight: 600;
	letter-spacing: -1px;
}
b,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}
html {
	height: 100%;
}
::selection {
	background: #000;
	color: #fff;
}
@-moz-document url-prefix() {
	body {
		font-weight: lighter !important;
	}
}
::-moz-selection {
	background: #000;
	color: #fff;
}
.top_15 {
	margin-top: 15px;
}
.top_30 {
	margin-top: 30px;
}
.top_45 {
	margin-top: 45px;
}
.top_60 {
	margin-top: 60px;
}
.top_90 {
	margin-top: 90px;
}
.top_120 {
	margin-top: 120px;
}
.padding_30 {
	padding: 30px 0;
}
.padding_45 {
	padding: 45px 0;
}
.padding_60 {
	padding: 60px 0;
}
.padding_90 {
	padding: 90px 0;
}
.bottom_15 {
	margin-bottom: 15px;
}
.bottom_30 {
	margin-bottom: 30px;
}
.bottom_45 {
	margin-bottom: 45px;
}
.bottom_60 {
	margin-bottom: 60px;
}
.bottom_90 {
	margin-bottom: 90px;
}
.bottom_120 {
	margin-bottom: 120px;
}
.padbot_15 {
	padding-bottom: 15px;
}
.padbot_30 {
	padding-bottom: 30px;
}
.padbot_45 {
	padding-bottom: 45px;
}
.padbot_60 {
	padding-bottom: 60px;
}
.fb:hover {
	color: #3b5998 !important;
}
.tw:hover {
	color: #55acee !important;
}
.ins:hover {
	color: #cd486b !important;
}
.bh:hover {
	color: #1769ff !important;
}
.dr:hover {
	color: #ea4c89 !important;
}
.line {
	height: 1px;
}
.line.bold {
	height: 4px;
}
p {
	font-size: 15px;
	color: #949494;
	line-height: 28px;
}
b {
	color: #000;
}
h1 {
	font-size: 70px;
	line-height: 80px;
}
h2 {
	font-size: 60px;
}
h3 {
	font-size: 50px;
}
h4 {
	font-size: 40px;
	letter-spacing: -2px;
}
h5 {
	font-size: 30px;
	letter-spacing: -1.2px;
	line-height: 38px;
}
h6 {
	font-size: 20px;
}
.center-title {
	text-align: center;
}
.center-title span {
	font-size: 15px;
	color: #b3b3b3;
	letter-spacing: 3px;
	margin-bottom: 10px;
	display: block;
}
.bold-text,
.more,
header .navbar .send-mail:hover {
	color: #000;
}
.bold-text {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
}

header .navbar .send-mail {
	cursor: pointer;
	text-align: center;
	margin: 23px 3px 0 0;
	padding-left: 0;
}
header.one-page {
	position: fixed;
	z-index: 10;
}
header .navbar.full-nav.white nav ul li a {
	color: #fff;
	opacity: 0.7;
}
header .navbar.full-nav .rspbtn button {
	color: #000;
}
header .navbar.full-nav.white nav ul li a:hover {
	opacity: 1;
	transition: all ease 0.4s;
}
header .navbar.full-nav.white .send-mail {
	color: #fff;
}
header .navbar.full-nav.white nav ul.dropdown-menu li a {
	color: #000;
	opacity: 1;
}
header .navbar.full-nav.white .social-icons a {
	color: #fff;
	opacity: 0.7;
}
header .navbar.full-nav.white .social-icons a:hover {
	color: #fff !important;
	opacity: 1;
}
@media (min-width: 992px) {
	header {
		position: absolute;
		width: 100%;
	}
	header .navbar nav {
		display: block !important;
		float: right;
	}
	header .navbar.radius-nav nav ul li a {
		color: #000;
		padding: 24px 0 25px 12px;
		font-size: 14px;
	}
	header .navbar.full-nav nav ul li a {
		color: #000;
		padding: 24px 11px 18px 12px;
		font-size: 14px;
	}
	header .navbar nav ul li a:active,
	header .navbar nav ul li a:focus,
	header .navbar nav ul li a:hover {
		background: 0 0;
	}
	header .navbar nav ul li.dropdown .dropdown-menu li a:hover {
		background: #efefef;
	}
	header .navbar nav ul li.dropdown .dropdown-menu li.active a:hover {
		color: #000;
	}
	header .navbar nav > ul > li.dropdown .dropdown-menu {
		-webkit-transition: -webkit-transform 0.2s ease-out;
		-moz-transition: -moz-transform 0.2s ease-out;
		transition: transform 0.2s ease-out;
		transform: translate3d(0, 25px, 0);
		font-family: Poppins, sans-serif;
		background-color: #fff;
		font-weight: 600;
		font-size: 13px;
		top: -10000px;
		display: block;
		opacity: 0;
		right: auto;
		border: 0;
		box-shadow: 0 3px 45px rgba(0, 0, 0, 0.09);
		-webkit-box-shadow: 0 3px 45px rgba(0, 0, 0, 0.09);
		-moz-box-shadow: 0 3px 45px rgba(0, 0, 0, 0.09);
		margin: -3px 0 0;
		min-width: 200px;
		padding: 3px;
		text-align: left;
		border-radius: 2px;
	}
	header .navbar nav > ul > li.dropdown .dropdown-menu a {
		padding: 8px 10px;
		font-size: 13px;
	}
	header .navbar nav > ul > li.dropdown:hover > .dropdown-menu {
		transform: translate3d(0, 0, 0);
		margin-top: -3px;
		display: block;
		opacity: 1;
		top: auto;
	}
	.opposite-menu,
	header
		nav
		> ul
		> li.dropdown
		.dropdown-menu
		li.dropdown-submenu
		> .dropdown-menu {
		display: block;
		transform: translate3d(20px, 0, 0);
		left: 100%;
		opacity: 0;
		right: 100%;
		margin-top: -10px;
		margin-left: -22px;
	}
	header nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu {
		position: relative;
	}
	header
		nav
		> ul
		> li.dropdown
		.dropdown-menu
		li.dropdown-submenu
		> .dropdown-menu {
		transition: transform 0.2s ease-out, opacity 0.2s ease-out;
	}
	.opposite-menu,
	header
		nav
		> ul
		> li.dropdown
		.dropdown-menu
		li.dropdown-submenu
		> .dropdown-menu {
		-webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
		-moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;
	}
	.opposite-menu {
		transition: transform 0.2s ease-out, opacity 0.2s ease-out;
	}
	header
		nav
		> ul
		> li.dropdown
		.dropdown-menu
		li.dropdown-submenu:hover
		> .dropdown-menu {
		top: 7px;
		opacity: 1;
	}
	header nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu > a:after {
		font-family: FontAwesome;
		content: "\f105";
		display: block;
		float: right;
		height: 0;
		margin-right: -10px;
		margin-top: 7px;
		position: absolute;
		right: 22px;
		top: 3px;
		width: 0;
		font-size: 10px;
		color: #b7b7b7;
	}
}
.portfolio.type-1 .single-item figure img,
.portfolio.type-1 .single-item:hover > figure h3,
.portfolio.type-1 .single-item:hover > figure img {
	transition: all ease 0.3s;
}
@media (max-width: 991px) {
	header .navbar.full-nav nav,
	header .navbar.radius-nav nav {
		top: 2px;
		position: absolute;
		z-index: 10;
		background-color: #fff;
		box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
	}
	header .navbar.full-nav.white nav ul li a {
		color: #000;
	}
	header .navbar.full-nav.white .rspbtn button {
		color: #fff;
	}
	header {
		position: absolute;
		width: 100%;
	}
	header .navbar.radius-nav nav {
		left: 38px;
		right: 41px;
	}
	header .navbar.full-nav nav {
		left: 8px;
		right: 14px;
	}
	header .navbar nav ul {
		position: relative;
		width: 100%;
		box-shadow: none;
		border: 0;
		margin-top: -3px;
		border-radius: 0;
		padding: 0;
	}
	header .navbar nav ul li {
		float: none;
		margin: 0 0 0 10px;
		border-bottom: 1px solid #dfdfdf;
	}
	header .navbar nav ul li ul {
		border-top: 1px solid #dfdfdf;
	}
	header .navbar nav ul li a {
		font-size: 13px;
		border-radius: 0;
		display: inline-block;
		width: 100%;
		padding: 12px 15px;
		color: #000;
	}
	header nav > ul > li.dropdown li.dropdown-submenu > a:after,
	header nav > ul > li.dropdown > a:after {
		float: right;
		font-family: FontAwesome;
		content: "\f107";
		display: block;
		height: 0;
		right: 22px;
		top: 3px;
		width: 0;
		font-size: 12px;
		color: #000;
	}
	header nav > ul > li.dropdown > a:after {
		margin: 2px 7px;
	}
	header nav > ul > li.dropdown li.dropdown-submenu > a:after {
		margin-top: 0;
	}
	header .navbar nav ul li a:focus,
	header .navbar nav ul li a:hover {
		background: 0 0;
	}
	header .navbar nav ul li.dropdown .dropdown-menu li a {
		padding: 10px 20px;
	}
	.radius-nav .rspbtn button {
		background: 0 0;
		border: 0;
		padding: 23px 33px;
		text-align: right;
		float: right;
	}
	.full-nav .rspbtn button {
		background: 0 0;
		border: 0;
		padding: 23px 12px;
		text-align: right;
		float: right;
	}
}
.agency:before,
.home.type-3:before {
	content: "";
}
.home.type-1,
.home.type-2,
.home.type-3 {
	width: 100%;
	display: table;
	position: relative;
	z-index: -1;
}
.home.type-1 {
	background: url(../images/home.jpg) 50% 50% fixed;
}
.home.type-2 {
	background: url(../images/home-2.jpg) 50% 50% fixed;
	background-size: cover;
}
.home.type-3 {
	background: url(../images/home-4.jpg) 50% 50% fixed;
	background-size: cover;
}
.home.type-3:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1;
}
.hometop {
	background: url(../images/home-3.jpg) bottom center;
	width: 100%;
	display: table;
	position: relative;
	z-index: -1;
	background-size: cover;
	height: 700px;
}
.home-content h2 {
	margin-top: -150px;
	color: #fff;
	margin-left: 15px;
}
.home-content {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	z-index: 2;
	position: relative;
	margin-top: -79px;
}
.about-content p.text,
.home-headline h1,
.home-headline p {
	text-align: center;
}
.home-content h1 {
	margin-top: -150px;
	color: #fff;
	margin-left: 15px;
}
.home.agency .home-content .container {
	margin-top: -210px;
}
.home.agency .home-content h1 {
	margin-top: 0;
}
.home.agency .home-content .more {
	color: #fff;
	margin: 30px;
}
#scene .l2,
#scene .l3 img {
	margin-top: 100px;
}
#scene {
	bottom: 0;
	left: 0;
	position: absolute;
	margin-bottom: -10px;
	z-index: 100;
}
.cloud-header,
.cloud-header.full-nav,
.home.agency {
	overflow: hidden;
	top: 0;
	width: 100%;
	display: table;
	z-index: -1;
	position: relative;
}
#scene .l1 {
	margin-left: -399px;
}
#scene .l3 img {
	margin-left: 181%;
}
#scene .l4 img {
	margin-left: 291%;
	margin-top: -310px;
}
.home-headline {
	padding: 60px 0 80px;
}
.home-headline p {
	padding: 20px 0;
}
.cloud-header {
	background-size: cover;
	height: 310px;
	margin-bottom: -139px;
}
.cloud-header,
.cloud-header.full-nav {
	background: center no-repeat fixed #7cc9db;
}
.cloud-header.full-nav {
	background-size: cover;
	height: 250px;
	margin-bottom: -139px;
}
.home.agency {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.agency:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.home-text {
	position: relative;
	padding-top: 280px;
	color: #fff;
	width: 100%;
	z-index: 1;
}
.home-text h1 {
	margin-bottom: 12px;
}
.home video {
	position: absolute;
	top: 0;
	left: 0;
}
.home.agency #scene {
	margin-bottom: -10px;
}
.work-areas {
	width: 100%;
	display: inline-block !important;
}
.work-areas .area .icon i:before {
	font-size: 45px;
	margin-left: 5px;
}
.work-areas .area .icon i {
	display: inline-block;
	margin-top: -8px;
}
.work-areas .area .icon {
	width: 20%;
	float: left;
}
.work-areas .area .text {
	width: 80%;
	float: left;
}
.work-areas .area .text h6 {
	font-size: 15px;
	letter-spacing: 2px;
	margin-bottom: 8px;
}
.work-areas .area .text p {
	font-size: 13px;
	line-height: 24px;
}
.about.type-1 .about-image {
	padding-bottom: 70px;
	background: #f2f2f2;
}
.about.type-1 .about-image img:before {
	background: #e4e4e4;
}
.about.type-1 .about-image img {
	width: 100%;
	box-shadow: 0 0 85px 0 rgba(0, 0, 0, 0.14);
	margin-top: -15%;
	margin-left: calc(15% - 15px);
}
.about.type-1.vertiqal .about-image img {
	width: 100%;
	box-shadow: 0 0 85px 0 rgba(0, 0, 0, 0.14);
	margin-top: -15%;
	margin-left: -15%;
}
.page-title h5 {
	padding-bottom: 20px;
}
.page-title span {
	font-size: 15px;
	color: #b3b3b3;
	letter-spacing: 3px;
	margin-bottom: 5px;
	display: block;
}
.page-title.left .line.bold {
	float: right;
}
.page-title.sub h5 {
	font-size: 26px;
}
.page-title.sub span {
	font-size: 14px;
	margin-bottom: 0;
}
.about-content p.text,
.about.type-2 .text {
	font-weight: 500;
	color: #000;
	font-size: 16px;
}
.about.type-1 .about-text p {
	margin-top: 60px;
	padding-left: 60px;
}
.about.type-1.vertiqal .about-text p {
	margin-top: 20px;
	padding-left: 0;
}
.about-content .about-image img {
	width: 100%;
}
.single-item figure img {
	width: 100%;
	backface-visibility: hidden;
	vertical-align: top;
}
.portfolio.type-1 {
	padding-bottom: 90px;
}
.portfolio.type-1 .single-item figure figcaption {
	text-align: center;
	padding: 25px 0;
}
.portfolio.type-1 .single-item figure figcaption h3 {
	font-size: 18px;
	font-weight: 500;
	color: #000;
	transition: all ease 0.3s;
	letter-spacing: -0.3px;
}
.portfolio.type-1 .single-item figure figcaption p {
	font-size: 10px;
	color: #b5b5b5;
}
.portfolio.type-1 .single-item:hover > figure img {
	opacity: 0.6;
}
.portfolio.type-2 .single-item figure {
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%;
	color: #000;
	text-align: left;
	font-size: 16px;
	background-color: #fff;
}
.portfolio.type-2 .single-item figure * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.portfolio.type-2 .single-item figure img {
	width: 100%;
	backface-visibility: hidden;
	vertical-align: top;
}
.portfolio.type-2 .single-item figure figcaption,
.portfolio.type-2 .single-item figure:after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.portfolio.type-2 .single-item figure:after {
	content: "";
	background-color: rgba(255, 255, 255, 0.65);
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	opacity: 0;
}
.portfolio.type-2 .single-item figure figcaption {
	z-index: 1;
	padding-left: 27px;
	padding-top: 47%;
}
.portfolio.type-2 .single-item figure figcaption h3 {
	line-height: 1.1em;
	font-size: 22px;
	opacity: 0;
	width: 100%;
	padding: 0;
	-webkit-transform: translateY(-40px);
	transform: translateY(-40px);
}
.portfolio.type-2 .single-item.col-md-6 figure figcaption h3 {
	font-size: 28px;
}
.portfolio.type-2 .single-item figure p {
	font-size: 11px;
	font-weight: 300;
	letter-spacing: 1px;
	opacity: 0;
	top: 50%;
	color: #000;
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}
.portfolio.type-2 .single-item figure:hover img {
	zoom: 1;
	filter: alpha(opacity=50);
	-webkit-opacity: 0.5;
	opacity: 0.5;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.portfolio.type-2 .single-item figure:hover:after {
	opacity: 1;
	position: absolute;
}
.portfolio.type-2 .single-item figure figcaption:hover h3,
.portfolio.type-2 .single-item figure figcaption:hover p {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	opacity: 1;
}
.portfolio.type-3 .isotope_items {
	min-height: 850px;
}
.portfolio.type-3 .single-item {
	margin-bottom: 30px;
}
.portfolio.type-3 .single-item figure {
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%;
	color: #000;
	text-align: left;
	font-size: 16px;
	background-color: #fff;
}
.portfolio.type-3 .single-item figure * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.portfolio.type-3 .single-item figure img {
	width: 100%;
	backface-visibility: hidden;
	vertical-align: top;
}
.portfolio.type-3 .single-item figure figcaption,
.portfolio.type-3 .single-item figure:after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.portfolio.type-3 .single-item figure:after {
	content: "";
	background-color: rgba(255, 255, 255, 0.65);
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	opacity: 0;
}
.portfolio.type-3 .single-item figure figcaption {
	z-index: 1;
	padding-left: 20px;
	padding-top: 47%;
}
.portfolio.type-3 .single-item figure figcaption h3 {
	line-height: 1.1em;
	font-size: 22px;
	opacity: 0;
	width: 100%;
	padding: 0;
	-webkit-transform: translateY(-40px);
	transform: translateY(-40px);
}
.portfolio.type-3 .single-item.col-md-6 figure figcaption h3 {
	font-size: 28px;
}
.portfolio.type-3 .single-item figure p {
	font-size: 11px;
	font-weight: 300;
	letter-spacing: 1px;
	opacity: 0;
	top: 50%;
	color: #000;
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}
.portfolio.type-3 .single-item figure:hover img {
	zoom: 1;
	filter: alpha(opacity=50);
	-webkit-opacity: 0.5;
	opacity: 0.5;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.portfolio.type-3 .single-item figure:hover:after {
	opacity: 1;
	position: absolute;
}
.portfolio.type-3 .single-item figure figcaption:hover h3,
.portfolio.type-3 .single-item figure figcaption:hover p {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	opacity: 1;
}
.portfolio.type-3 .more {
	margin-left: 45px;
}
.portfolio_filter.type-1 ul {
	margin-top: 45px;
}
.portfolio_filter.type-1 ul li {
	font-size: 16px;
	color: #a3a3a3;
	margin-bottom: 15px;
	font-weight: 300;
	cursor: pointer;
}
.portfolio_filter.type-1 ul li.select-cat:before,
.portfolio_filter.type-1 ul li:hover:before {
	content: "\f178";
	font-family: FontAwesome;
	transition: all ease 0.1s;
	font-size: 14px;
	color: #000;
	margin-right: 5px;
}
.portfolio_filter.type-1 ul li:hover {
	color: #000;
}
.portfolio_filter.type-1 ul li.select-cat {
	color: #000;
}
.portfolio_filter.type-1 ul li:before {
	transition: all ease 0.3s;
}
.portfolio_filter.type-2 ul {
	margin-top: 36px;
}
.portfolio_filter.type-2 ul li {
	font-size: 13px;
	color: #a3a3a3;
	margin-left: 25px;
	font-weight: 300;
	cursor: pointer;
	float: right;
}
.portfolio_filter.type-2 ul li:hover {
	color: #000;
	transition: all ease 0.3s;
}
.portfolio .center-btn .more {
	margin: 0 auto;
	display: table;
}
.port-list li span {
	font-weight: 500;
	font-size: 15px;
	line-height: 16px;
}
.port-list li {
	margin-bottom: 15px;
	line-height: 13px;
}
.port-list li p {
	font-size: 13px;
}
.port-subtitle {
	line-height: 28px;
}
.potfolio-content.type-1 .port-slider img,
.slide img {
	width: 100%;
}
.owl-pagination {
	margin-top: 30px;
}
.article-nav {
	border-top: 1px solid #efefef;
	padding: 46px 0 50px;
}
.article-nav a.next,
.article-nav a.prev {
	color: #000;
	font-weight: 600;
	position: relative;
	cursor: pointer;
}
.article-nav .next span,
.article-nav .prev span {
	color: #b3b3b3;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 4px;
	margin-bottom: 3px;
	display: inline-block;
	transition: all ease 0.1s;
}
.article-nav a.next:hover > span,
.article-nav a.prev:hover > span {
	transition: all ease 0.3s;
}
.article-nav .next span {
	float: right;
}
.article-nav .backtoport {
	margin: 0 auto;
	display: table;
	opacity: 0.3;
	cursor: pointer;
	transition: all ease 0.3s;
}
.article-nav .backtoport:hover {
	opacity: 1;
	transition: all ease 0.3s;
}
.potfolio-content.type-2 .port-list {
	margin-top: 10px;
}
.potfolio-content.type-2 .port-list li {
	margin-bottom: 26px;
}
.content-image img {
	width: 100%;
}
.phone {
	background: url(../images/mobile/phone.png) top center no-repeat;
	background-size: auto 100%;
}
.phone img {
	width: 100%;
	padding: 21% 13% 24%;
}
.phone .owl-controls {
	position: absolute;
	text-align: center;
	left: 50%;
	margin-left: -39px;
}
.work-information {
	background: #f2f2f2;
	padding: 80px 0;
	font-size: 14.5px;
	line-height: 26px;
}
.work-information .part span {
	color: #748182;
}
.team .our-team .team-friend {
	display: inline-block;
}
.team .our-team .team-friend figure {
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%;
	color: #000;
	text-align: left;
	font-size: 16px;
	background-color: #fff;
	margin-bottom: 30px;
}
.team .our-team .team-friend figure * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.team .our-team .team-friend img {
	width: 100%;
	backface-visibility: hidden;
	vertical-align: top;
}
.team .our-team .team-friend figure figcaption,
.team .our-team .team-friend figure:after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.team .our-team .team-friend figure:after {
	content: "";
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	opacity: 0;
}
.team .our-team .team-friend figure:hover img {
	zoom: 1;
	filter: alpha(opacity=50);
	-webkit-opacity: 0.5;
	opacity: 0.5;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.team .our-team .team-friend figure:hover:after {
	opacity: 1;
	position: absolute;
}
.team .our-team .team-friend figure figcaption {
	z-index: 1;
	opacity: 1;
	width: 100%;
	padding: 0;
}
.team .our-team .team-friend figure figcaption .teaminf h3 {
	font-size: 22px;
	color: #fff;
	clear: both;
}
.team .our-team .team-friend figure figcaption .teaminf p {
	font-size: 12px;
	line-height: 24px;
	color: #fff;
	clear: both;
}
.team .our-team .team-friend figure figcaption .teaminf {
	bottom: 0;
	padding-bottom: 19px;
	padding-left: 23px;
	position: absolute;
	opacity: 0;
	-webkit-transform: translateX(-80px);
	transform: translateX(-80px);
}
.team .our-team .team-friend figure figcaption:hover > .teaminf {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	opacity: 1;
}
.team .our-team .team-friend figure figcaption .teaminf .social-icons {
	background: 0 0;
	padding: 0;
	margin-left: 0;
	margin-bottom: 12px;
}
.team .our-team .team-friend figure figcaption .teaminf .social-icons a {
	color: #fff;
}
.team .our-team .team-friend figure figcaption .teaminf .social-icons a:hover {
	color: #fff !important;
}
.blog.type-1 .blog-big .image img {
	width: 100%;
}
.blog.type-1 .blog-big .image {
	position: relative;
	display: table;
	width: 100%;
}
.blog.type-1 .blog-big .image .icon {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	opacity: 0;
	display: table-cell;
	vertical-align: middle;
	top: 50%;
	margin-top: -20px;
}
.blog.type-1 .blog-big:hover .image .icon {
	opacity: 0.9;
	transition: all ease 0.3s;
}
.blog.type-1 .blog-big .image .icon i {
	color: #fff;
	padding: 17px 0 16px;
	min-width: 50px;
	border-radius: 50px;
	transition: all ease 0.3s;
	text-align: center;
}
.blog.type-1 .blog-big .text h2 {
	font-size: 18px;
	letter-spacing: 0;
	line-height: 27px;
	padding: 30px 0 15px;
	color: #000;
}
.blog.type-1 .blog-big .text p {
	font-size: 13px;
	line-height: 26px;
}
.blog.type-1 .blog-big .text .info {
	color: #bdbdbd;
	font-size: 11px;
	margin-top: 20px;
	font-weight: 500;
}
.blog.type-1 .blog-list ul {
	margin-top: 15px;
}
.blog.type-1 .blog-list ul li .image {
	position: relative;
}
.blog.type-1 .blog-list ul li .image .icon {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	opacity: 0;
	top: 50%;
	margin-top: -20px;
	margin-left: -34px;
}
.blog.type-1 .blog-list ul li .image .icon i {
	position: absolute;
	color: #fff;
	padding: 11px 0 9px;
	min-width: 37px;
	border-radius: 50px;
	text-align: center;
	transition: all ease 0.3s;
}
.sitebtn,
.sitebtn-2 {
	transition: all ease 0.3s;
	min-width: 140px;
}
.blog.type-1 .blog-list ul li:hover .image .icon {
	opacity: 0.9;
	transition: all ease 0.3s;
}
.blog.type-1 .blog-list ul li .image img {
	width: 100%;
}
.blog.type-1 .blog-list ul li {
	padding: 36px 0;
	border-bottom: 1px solid #efefef;
}
.blog.type-1 .blog-list .text {
	padding-top: 11px;
}
.blog.type-1 .blog-list .text h2 {
	font-size: 14px;
	letter-spacing: 0;
	line-height: 21px;
	color: #000;
	font-weight: 500;
	margin-top: 6px;
}
.blog.type-1 .blog-list .text p {
	font-size: 13px;
	line-height: 26px;
}
.blog.type-1 .blog-list .text .info {
	color: #bdbdbd;
	font-size: 11px;
	font-weight: 500;
}
.blog.type-1 .more {
	margin: 60px 30px;
}
.blog.type-1.standart .blog-big .text h2 {
	padding: 10px 0 15px;
}
.blog.type-1.standart .blog-big .text .info {
	margin: 28px 0 3px;
	font-size: 12px;
}
.blogs a {
	display: inline-block;
}
#preloader {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: table;
	text-align: center;
}
@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}
.spinner:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	margin-left: -15px;
	border-radius: 50%;
	border: 1px solid #ccc;
	animation: spinner 0.6s linear infinite;
}
.author,
.comment,
.sidebar .widget.latest ul li {
	border-bottom: solid 1px #dfdfdf;
}
.author .image img,
.blog-single .blog-image img,
.blog-single.type-1 .article .blog-image img {
	width: 100%;
}
.blog-single.type-1 .article .info {
	color: #bdbdbd;
	font-size: 12px;
	font-weight: 500;
	margin-top: 15px;
}
blockquote {
	padding: 15px 18px;
	margin: 25px 0;
	font-weight: 600;
	letter-spacing: -1px;
	font-size: 18px;
	line-height: 30px;
	border-left: solid 3px;
}
.wrapper {
	position: relative;
	z-index: 1;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.1);
}
